
.container {
    margin-top: 62px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__image-img{
    width: 253px;
    height: 391px;
    border-radius: 139px;
}

.content__title h1{
    margin-top: 26px;
    font-size: 40px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.content__descript-text {
    width: 315px;
    height: 132px;
    margin-top: 26px;
    font-size: 36px;
    text-align: center;
}