.contact_container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 100px;
}


.contact__title-text {
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 30px;
font-weight: 400;
line-height: 37px;
letter-spacing: 0px;
text-align: center;
}

.contact__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin-top: 100px;
}

.contact__item {
    list-style-type: none;
    margin-bottom: 24px;
}

.contact__link {
    color: black;
    text-decoration: none;
    font-size: 30px;
    
}